USE [master]
GO
/****** Object:  Database [ExamGenerator_DB]    Script Date: 19/04/2022 21:48:43 ******/
CREATE DATABASE [ExamGenerator_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamGenerator_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ExamGenerator_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamGenerator_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ExamGenerator_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamGenerator_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamGenerator_DB]
GO
/****** Object:  Table [dbo].[ScoreTB]    Script Date: 19/04/2022 21:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScoreTB](
	[Score_ID] [int] NOT NULL,
	[Score] [int] NULL,
	[Student_ID] [int] NULL,
	[Subject_ID] [int] NULL,
 CONSTRAINT [PK_ScoreTB] PRIMARY KEY CLUSTERED 
(
	[Score_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SectionTB]    Script Date: 19/04/2022 21:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionTB](
	[Section_ID] [int] NOT NULL,
	[SectionCode] [varchar](50) NULL,
	[SectionSchedule] [varchar](50) NULL,
	[Instructor_ID] [int] NULL,
	[Student_ID] [int] NULL,
	[Subject_ID] [int] NULL,
 CONSTRAINT [PK_SectionTB] PRIMARY KEY CLUSTERED 
(
	[Section_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTB]    Script Date: 19/04/2022 21:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTB](
	[Student_ID] [int] NOT NULL,
	[StudentName] [varchar](50) NULL,
	[StudentPassword] [varchar](50) NULL,
 CONSTRAINT [PK_StudentTB] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectTB]    Script Date: 19/04/2022 21:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectTB](
	[Subject_ID] [int] NOT NULL,
	[SubjectName] [varchar](50) NULL,
	[Student_ID] [int] NULL,
	[Instructor_ID] [int] NULL,
 CONSTRAINT [PK_SubjectTB] PRIMARY KEY CLUSTERED 
(
	[Subject_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherTB]    Script Date: 19/04/2022 21:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherTB](
	[Instructor_ID] [int] NOT NULL,
	[InstructorName] [varchar](50) NULL,
	[InstructorPassword] [varchar](50) NULL,
	[Student_ID] [int] NULL,
 CONSTRAINT [PK_TeacherTB] PRIMARY KEY CLUSTERED 
(
	[Instructor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScoreTB]  WITH CHECK ADD  CONSTRAINT [FK_ScoreTB_ScoreTB] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[StudentTB] ([Student_ID])
GO
ALTER TABLE [dbo].[ScoreTB] CHECK CONSTRAINT [FK_ScoreTB_ScoreTB]
GO
ALTER TABLE [dbo].[ScoreTB]  WITH CHECK ADD  CONSTRAINT [FK_ScoreTB_StudentTB] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[StudentTB] ([Student_ID])
GO
ALTER TABLE [dbo].[ScoreTB] CHECK CONSTRAINT [FK_ScoreTB_StudentTB]
GO
ALTER TABLE [dbo].[SectionTB]  WITH CHECK ADD  CONSTRAINT [FK_SectionTB_TeacherTB1] FOREIGN KEY([Instructor_ID])
REFERENCES [dbo].[TeacherTB] ([Instructor_ID])
GO
ALTER TABLE [dbo].[SectionTB] CHECK CONSTRAINT [FK_SectionTB_TeacherTB1]
GO
ALTER TABLE [dbo].[SubjectTB]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTB_TeacherTB] FOREIGN KEY([Instructor_ID])
REFERENCES [dbo].[TeacherTB] ([Instructor_ID])
GO
ALTER TABLE [dbo].[SubjectTB] CHECK CONSTRAINT [FK_SubjectTB_TeacherTB]
GO
ALTER TABLE [dbo].[TeacherTB]  WITH CHECK ADD  CONSTRAINT [FK_TeacherTB_StudentTB] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[StudentTB] ([Student_ID])
GO
ALTER TABLE [dbo].[TeacherTB] CHECK CONSTRAINT [FK_TeacherTB_StudentTB]
GO
USE [master]
GO
